:root {
    --sidebar-width: 250px;
    --mobile-sidebar-width: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

.huge {
    font-size: 40px;
}

#sidebar {
    float: left;
    width: var(--sidebar-width);
    height: 100%;
    border-right: 1px solid #111;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    text-decoration: none;
    padding: 10px 16px;

    color: #ddd;
    width: 100%;
    margin: 0;
    list-style: none;
    font-size: 18px;
}

#sidebar ul li i {
    padding-right: 10px;
}

#sidebar ul a:hover, #sidebar ul a {
    text-decoration: none;
    width: 100%;
    display:block;
    color: #999;
}

#sidebar ul li {
    transition: padding 0.2s;
}

#sidebar ul li:hover {
    background: #111;
    cursor: pointer;
    padding-left: 30px;
}


#sidebar #logo {
    width: 100%;
    padding: 5px 0;
    background: #111;
    margin-bottom: 20px;
}

#content {
    padding: 16px;
    float: left;
    width: calc(100% - var(--sidebar-width));
    min-height: 100%;
    background-color: white;
}

@media(max-width:768px) {
    #sidebar {
        width: var(--mobile-sidebar-width);
    }

    #content {
        padding: 16px;
        float: left;
        width: calc(100% - var(--mobile-sidebar-width));
    }

    #sidebar #logo {
        display: none;
    }

    #sidebar .caption {
        display: none;
    }
}
